/* Hide unreplaced attachments token */

span.hide_attachments_token {
    display: none;
}

/*
     FILE ARCHIVED ON 21:03:02 Aug 08, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 02:41:47 Aug 27, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 321.068
  exclusion.robots: 0.113
  exclusion.robots.policy: 0.1
  cdx.remote: 0.083
  esindex: 0.012
  LoadShardBlock: 268.482 (3)
  PetaboxLoader3.datanode: 285.476 (5)
  load_resource: 71.208
  PetaboxLoader3.resolve: 27.795
  loaddict: 15.476
*/