.bs_head_small {
    color: #fff;
    background: #bd6b62;
    font-weight: 600;
    font-size: 12pt;
    padding: 9px;
    margin-top: 13px;
}
.bs_head {
    color: #fff;
    background: #d8a6a1;
    font-weight: 600;
    font-size: 12pt;
    padding: 9px;
    margin-top: 13px;
    margin-bottom: 13px;
}
div#bs_content {
    width: 99%;
}

.sublink.hidden {
    display: block !important;
}
/*
     FILE ARCHIVED ON 13:50:47 Oct 17, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 02:41:52 Aug 27, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 97.426
  exclusion.robots: 0.075
  exclusion.robots.policy: 0.065
  cdx.remote: 0.058
  esindex: 0.01
  LoadShardBlock: 56.232 (3)
  PetaboxLoader3.datanode: 86.812 (5)
  load_resource: 115.573
  PetaboxLoader3.resolve: 62.1
  loaddict: 17.87
*/