.roundbutton {
  border-radius: 50%;
  color: white;
  height:40px;
  width:40px;
  transform: translateY(-8px);
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 14px;
  margin: 0px 2px;
}

.aktion {
     vertical-align: middle;
     text-align: center;
     width: 105px;
}

#topbar {
    display: block;
    position: fixed;
    top: 0px;
    z-index: 999;
    background-color: black;
    border: thick solid black;
    border-radius: 0px;
    height: max-content;
    width: 100%;
}

.status {
    border-radius: 15px;
    font-size: 120%;
    color: black;
    text-align: center;
}

#bottombar {
    display: block;
    position: sticky;
    bottom: 0px;
    width: 100%;
    height: 20px;
    background-color: white;
    color: black;
}
#bottombar #hint {
    float: right;
    margin-right:5%;
    text-align: center;
    font-weight: bold;
}

.err {
  color: red !important;
}
.err:hover {
  background-color: #701700!important;
}
.trstate-none, .trstate-fullunmarked {
    background-color: #FcFcFc!important;
}
.trstate-none:hover {
    background-color: #FFFF99!important;
}
.trstate-full {
  background-color: salmon!important;
}
.trstate-full:hover, .trstate-fullunmarked:hover {
  background-color: #ff4733!important;
}

.trstate-full:hover {
  background-color: #ff4733!important;
}
.trstate-error {
  background-color: orange!important;
}
.trstate-error:hover {
  background-color: darkorange!important;
}
.trstate-booked {
  background-color: lime!important;
}
.trstate-booked:hover {
  background-color: #009b00!important;
}
.trstate-booking {
  background-color: lightblue!important;
}
.trstate-booking:hover {
  background-color: #93cbdd!important;
}



.link {
    color: blue;
}

.link:hover {
    cursor: pointer;
}



/* Tooltip text */
.tooltip .tooltiptext {
  float: right;
  visibility: hidden;
  max-width: 250px;
  margin-left: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 5px;
  border-radius: 6px;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}