.roundbutton {
  border-radius: 50%;
  color: white;
  height:40px;
  width:40px;
  transform: translateY(-8px);
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 14px;
  margin: 0px 2px;
}

.aktion {
     vertical-align: middle;
     text-align: center;
     width: 105px;
}

.bar {
    display: block;
    position: fixed;
    top: 0px;
    background-color: black;
    border: thick solid black;
    border-radius: 5px;
    height: max-content;
    width: 100%;
}

.status {
    border-radius: 15px;
    font-size: 120%;
    color: black;
    text-align: center;
}

.bottombar {
    position: fixed;
    display: block;
    bottom: 0px;
    height: 20px;
    width: 100%;
    background-color: white;
    color: black;
}
.hint {
    float: right;
    margin-right:5%;
    text-align: center;
    vertical-align: center;
    height: 20px;
    font-weight: bold;
    background-color: white;
    color: black;
}

.link {
    color: blue;
}

.link:hover {
    cursor: pointer;
}



/* Tooltip text */
.tooltip .tooltiptext {
  float: right;
  visibility: hidden;
  max-width: 250px;
  margin-left: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 5px;
  border-radius: 6px;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}